.u-section-1 .u-sheet-1 {
    min-height: 672px;
  }
  
  .u-section-1 .u-list-1 {
    width: 582px;
    margin: 83px auto 0 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 506px;
    grid-gap: 0px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 39px auto 0;
    padding: 6px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: 39px auto 0;
    padding: 6px;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 400;
    text-transform: none;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: 39px auto 0;
    padding: 6px;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: 39px auto 0;
    padding: 6px;
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-group-1 {
    width: 512px;
    min-height: 507px;
    background-image: none;
    height: auto;
    margin: -506px auto 60px 628px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 0;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 30px 40px 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 432px;
    height: 432px;
    margin: 0 auto -51px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 656px;
    }
  
    .u-section-1 .u-list-1 {
      width: 470px;
      margin-top: 75px;
    }
  
    .u-section-1 .u-group-1 {
      width: 442px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: auto;
      height: auto;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 916px;
    }
  
    .u-section-1 .u-list-1 {
      margin-top: 53px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 424px;
      grid-auto-columns: 50%;
    }
  
    .u-section-1 .u-text-2 {
      text-transform: uppercase;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 20px;
      margin-bottom: 53px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: 100%;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 2.34375rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 340px;
    }
  }